<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>学習サポートシステム</title>
<link href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="container">
    <div th:replace="shared/_header"></div>
    <div class="row">
      <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-10 col-xs-12">
        <h1>学習サポートシステム</h1>
      </div>
    </div>
    <!-- login form -->
    <div class="row">
      <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-10 col-xs-12">
        <!-- 背景をグレーに、埋め込んだようなコンポーネント -->
        <div class="well" th:if="${studentRegisterForm}">
          <form method="post" action="student_training_list.html" th:action="@{/students/register/finish}" th:object="${studentRegisterForm}">
            <fieldset>
              <legend>運営管理者 登録 </legend>
              <p>以下の内容で登録します。</p>
              <div class="form-group">
                <label for="inputEmail">名前:</label>
                <p th:text="*{name}">鈴木一郎</p>
                <input type="hidden" name="name" th:field="*{name}">
              </div>
              <div class="form-group">
                <label for="inputEmail">フリガナ:</label>
                <p th:text="*{kana}">スズキ イチロウ</p>
                <input type="hidden" name="name" th:field="*{kana}">
              </div>
              <div class="form-group">
                <label for="inputEmail">Email:</label>
                <p th:text="*{email}">ichiro-suzuki@sample.com</p>
                <input type="hidden" name="name" th:field="*{email}">
              </div>
              <div class="form-group">
                <label for="inputPassword">Password:</label>
                <p>********</p>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">登録</button>
              </div>
            </fieldset>
          </form>
          <form th:action="@{/students/register}" th:object="${studentRegisterForm}">
            <input type="hidden" name="name" th:field="*{name}">
            <input type="hidden" name="kana" th:field="*{kana}">
            <input type="hidden" name="email" th:field="*{email}">
            <button type="submit" class="btn btn-default">修正</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="shared/_footer"></div>
</body>

</html>