<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>学習サポートシステム</title>
  <link href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="container">
    <div th:replace="shared/_header"></div>

    <!-- table -->
    <div class="row">
      <div class="table-responsive col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-xs-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>期間</th>
              <th>コース名</th>
              <th>講師</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>[[${training.startDate}]] ～ [[${training.endDate}]]</td>
              <td>[[${training.name}]]</td>
              <td>[[${training.instructor.name}]]</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- register form -->
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-xs-12">
        <!-- 背景をグレーに、埋め込んだようなコンポーネント -->
        <div class="well">
          <form method="post" action="admin_training_list.html" th:action="@{/admin/training_input_student}"
            enctype="multipart/form-data">
            <fieldset>
              <legend>受講者情報インポート</legend>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-12">
                    <div th:if="${noCompanyError}" class="alert alert-danger alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
                      <strong>Error</strong>：　[[ ${noCompanyError} ]]
                    </div>
                    <div th:if="${fileInputError}" class="alert alert-danger alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
                      <strong>Error</strong>：　[[ ${fileInputError} ]]
                    </div>
                    <div th:if="${fileError}" class="alert alert-danger alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
                      <strong>Error</strong>：　[[ ${fileError} ]]
                    </div>
                    <div th:if="${duplicateError}" class="alert alert-danger alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
                      <strong>Error</strong>：　[[ ${duplicateError} ]]
                    </div>
                    <label for="inputLecturer">受講者情報CSVインポート:</label>
                    <input type="file" id="exampleInputFile" name="file">
                    <input type="hidden" name="trainingId" th:value="${training.id}" />
                  </div>
                </div>
                <p class="help-block">
                  (例)<br /> 受講者一郎,ichiro@jukou.com,株式会社〇〇<br /> 受講者次郎,jiro@jukou.com,株式会社〇〇<br />
                  受講者三郎,sao@jukou.com,株式会社〇〇<br />
                </p>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">インポート</button>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    <form method="POST" th:action="@{/admin/import/insertStudent}">
      <input type="hidden" name="trainingId" th:value="${training.id}" />
      <div class="form-group">
        <div class="row">
          <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-sm-12">
            <button type="submit" th:if="${students}" class="btn btn-primary">以下の内容で登録する</button>
          </div>
        </div>
      </div>
    </form>
    <!-- table -->
    <div class="row">
      <div class="table-responsive col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-xs-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>受講者名</th>
              <th>メールアドレス</th>
              <th>所属</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="student:${students}">
              <td>[[ ${student.name} ]]</td>
              <td>[[${student.email}]]</td>
              <td>[[${student.company.name}]]</td>
            </tr>
          </tbody>
        </table>
        <div th:unless="${students}" class="text-center">データを取り込んでください。</div>
      </div>
    </div>

  </div>
  <!-- end container -->
  <div th:replace="shared/_footer"></div>
</body>

</html>