<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>学習サポートシステム</title>
<link href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="container">
    <div th:replace="shared/_header"></div>
    <div class="row">
      <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-10 col-xs-12">
        <h1>学習サポートシステム</h1>
      </div>
    </div>
    <!-- login form -->
    <div class="row">
      <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-10 col-xs-12">
        <!-- 背景をグレーに、埋め込んだようなコンポーネント -->
        <div class="well">
          <form method="post" action="admin_training_list.html" th:action="@{/admin/registerAdmin}" th:object="${adminRegisterForm}">
            <fieldset>
              <legend>運営管理者 登録 </legend>
              <div class="form-group">
                <label for="inputName">名前:</label>
                <label class="control-label" style="color: red" th:errors="*{name}" for="inputError">名前を入力してください</label>
                <input type="text" id="inputName" class="form-control" name="name" placeholder="名前" th:field="*{name}" />
              </div>
              <div class="form-group">
                <label for="inputKana">フリガナ:</label>
                <label class="control-label" style="color: red" th:errors="*{kana}"for="inputError">フリガナを入力してください</label>
                <input type="text" id="inputKana" class="form-control" name="kana" placeholder="フリガナ" th:field="*{kana}" />
              </div>
              <div class="form-group">
                <label for="inputEmail">メールアドレス:</label>
                <label class="control-label" th:errors="*{email}" style="color: red" for="inputError">メールアドレスを入力してください</label>
                <input type="text" id="inputEmail" class="form-control" name="email" placeholder="Email" th:field="*{email}" />
              </div>
              <div class="form-group">
                <label for="inputPassword">パスワード:</label>
                <label class="control-label" style="color: red" th:errors="*{password}" th:field="*{password}" for="inputPassword">パスワードを入力してください</label>
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="inputPassword">確認用パスワード:</label>
                <label class="control-label" style="color: red" th:errors="*{passwordConfirm}" th:field="*{passwordConfirm}" for="inputPasswordConfirm">パスワードを入力してください</label>
                <input type="password" id="inputPassword" class="form-control" name="passwordConfirm" placeholder="Password">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">登録</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="shared/_footer"></div>
</body>

</html>