<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="admin_login.html" th:href="@{/students/login}">
        <!-- 企業ロゴ -->
        <img alt="main log" src="../../static/img/header_logo.png" th:src="@{/img/header_logo.png}">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" id="headerMenu">
        <li sec:authorize="hasRole('ROLE_STUDENT')"><a href="student_training_list.html" th:href="@{/students/training_list}">研修コース</a></li>
        <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="student_training_list.html" th:href="@{/admin/training_list}">研修コース</a></li>
        <li sec:authorize="hasRole('ROLE_COMPANY')"><a href="company_training_list.html" th:href="@{/company/training_list}">研修コース</a></li>
        <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="facility_manager_list.html" th:href="@{/admin/facility_manager_list}">運営管理者</a></li>
        <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="company_list.html" th:href="@{/admin/company_list}">企業(企業担当者)</a></li>
        <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="instructor_list.html" th:href="@{/admin/instructor_list}">講師</a></li>
      </ul>
      <p sec:authorize="hasRole('ROLE_ADMIN')" class="navbar-text navbar-right">
        <a href="admin_login.html" th:href="@{/admin/login}" class="navbar-link">パスワード変更</a> <a href="admin_login.html" th:href="@{/admin/logout}"
          class="navbar-link">ログアウト</a>
      </p>
      <p sec:authorize="hasRole('ROLE_STUDENT')" class="navbar-text navbar-right">
        <a href="admin_login.html" th:href="@{/students/login}" class="navbar-link">パスワード変更</a> <a href="student_login.html" th:href="@{/students/logout}"
          class="navbar-link">ログアウト</a>
      </p>
      <p sec:authorize="hasRole('ROLE_COMPANY')" class="navbar-text navbar-right">
        <a href="admin_login.html" th:href="@{/students/login}" class="navbar-link">パスワード変更</a> <a href="student_login.html" th:href="@{/company/logout}"
          class="navbar-link">ログアウト</a>
      </p>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<script>
  // 選択したメニューと一致したらクラスを付与するjs
  function setActiveClassOnHeaderMenu(){
    var headerMenu = document.querySelectorAll('#headerMenu li a');
    var path = location.pathname // 現在訪れているサイトのパス
    headerMenu.forEach( menu => {
      if( menu.pathname === path){ // ヘッダーのリンクと、サイトのパスが一致した場合は
        menu.parentNode.classList.add('active') // activeをクラスに追加
      }
    })
  }
  this.setActiveClassOnHeaderMenu();
</script>